server:
  port: 9000

spring:
  application:
    name: ORDER-MANAGER
  data:
    mongodb:
      uri: mongodb+srv://${MONGO_USER_ID}:${MONGO_PWD}@cluster0.dnhdt.mongodb.net/myFirstDatabase?retryWrites=true&w=majority
      database: trading_infra

eureka:
  client:
    service-url: 
      defaultZone: ${EUREKA_URI:http://localhost:10000/eureka}
      
      
management:
  health:
    circuitbreakers:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always

      
resilience4j:
  circuitbreaker:
    configs:
      default:
        registerHealthIndicator: true
        failureRateThreshold: 50
        minimumNumberOfCalls: 5
        slidingWindowSize: 5
        slidingWindowType: COUNT_BASED
        waitDurationInOpenState: 5s
        eventConsumerBufferSize: 10
        automaticTransitionFromOpenToHalfOpenEnabled: true
    instances:
      createPosition:
        baseConfig: default
      